@model WebApplication1.Models.Invoice

@{
    ViewData["Title"] = "Details";
}
<script>
    function printDetails() {
        window.print();
    }
</script>

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GemInvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GemInvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Items)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Items)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInwords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInwords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SGST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SGST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGSTAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGSTAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SGSTAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SGSTAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountInWords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountInWords)
        </dd>
    </dl>
</div>
<div class="from-group">
    <button onclick="printDetails()" class="btn btn-primary">Print</button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Sno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
